<%- include("partials/header") -%>
<!-- MailerLite Universal -->
<div class="headline">
  <p class="headline_text_1"> For Anyone Who's Been in a Toxic Relationship or an Abusive Past </p>
  <p class="headline_text_2">Here’s how to <span class="headline_span">Overcome the Pain of Abuse</span> and <span class="headline_span"> Break Free From the Past</span> so</p>
  <p class="headline_text_2"> that you can <span class="headline_span">Live Happily</span> and <span class="headline_span"> Reclaim that Life You Deserve</span></p>
  <p class="headline_text_3">[without years of therapy, medication or fear of ending up alone]</p>

<div class="youtube-video">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pT_bNbTieSc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <p class="button_text_3"> Click to Watch My Free MasterClass</p>
</div>

  <p><i class="bi bi-chevron-double-down chevron"></i></p>
  <div class="d-grid gap-2 col-6 mx-auto">

    <button onclick="Calendly.initPopupWidget({url:'https://calendly.com/biiedwin8/free-strategy-call'});
  return false;" type="button" class="btn btn-info btn-lg btn-outline-secondary bookingbutton">
      <p class="button_text_1">BOOK YOUR FREE 1-on-1 Breakthrough Call </p>
      <p class="button_text_2"><i class="bi bi-calendar-check"></i>[Yes, I'd like to heal & regain inner peace]</p>
    </button>
  </div>
  <p class="button_text_3">[Limited slots available]</p>
</div>
<!-- testimonials -->
<section id="roadmap-testimonials">

  <div class="container-fluid">
    <h1 class="testimonial_header"> Still Skeptical? Take a look at what my happy clients had to say... </h1>
    <div class="youtube-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g-Q-glj5mS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1zpvwtqGjDnuPay9lE-6B_geYXe6vGUke" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1MtXnI1V2OdStjJYRqvwP2JXC5on9qKYU" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1uG-pAwxwwy4IaSMLlPsIWwbMV7BOAMGe" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1UHfuUEdl5siU3wbbItiLdJ48HM9aceqp" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=14CPmt-XZc2BkJGr_R1ZTGq6oNBuGI9sR" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1Z-lv90wFPsKH1WJDjl0TEVjtEk8e1Hu5" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1uZwRI5cOlYuoCCKciS79srlQxv3seuXQ" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1_hjWkD0DWerTr5iOnhaWZt5Nv2GNeRkO" alt="Dennis-profile">
      </div>
    </div>

    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1lg25xRSq-BOdSQbYbPf43zUNNE31qSS6" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1AqQlmUKUuM22PT4YN1ik4W0xeMFRx7r0" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1zpvwtqGjDnuPay9lE-6B_geYXe6vGUke" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1kZrmK68rXMDQ12sYPN8Yq6KTY_Pxxwt7" alt="Dennis-profile">
      </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1OcekJ6A8t_wNn5Uxkqtp_z_3YzGatJWa" alt=>
      </div>
    </div>


    <div class="">
      <iframe src="https://drive.google.com/file/d/1nK2b_bXqE8CcV3JVlmO_chln96vh4i4S/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>

    <p class="testimonial_text_1"> If you want to succeed with Attracting Healthy Relationships </p>
    <p class="testimonial_text_1">and Break Free from Toxic Relationship Patterns then book your </p>
    <p class="testimonial_text_2">FREE BREAKTHROUGH CALL NOW!!.</p>
    <i class="bi bi-chevron-double-down chevron"></i>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button onclick="Calendly.initPopupWidget({url:'https://calendly.com/biiedwin8/free-strategy-call'});
    return false;" type="button" class="btn btn-info btn-lg btn-outline-secondary bookingbutton">
    <p class="button_text_1">BOOK YOUR FREE 1-on-1 Breakthrough Call </p>
    <p class="button_text_2"><i class="bi bi-calendar-check"></i>[Yes, I'd like to heal & regain inner peace]</p>
    </button>
  </div>
  <p class="testimonial_button_text_3">[Limited slots available]</p>
</section>
<!-- Explanation Text Section -->
<section class="client-stories">
  <h2>Read More Client Stories Below</h2>
  <div class="row flex">
    <div class="col-lg-6">
      <h4>Healing after Narcissistic Abuse Story 2 #&nbsp;John</h4>
      <p>
      </p>
      <figure class=" blogphotoblock">
        <img src="https://drive.google.com/uc?id=1hXZejQPIWJCznXVDdQ_k5gvtrldnvV05" class=" blogphoto" alt="Edwin-Profile_Pic">
        <figcaption> created on 20/03/2023</figcaption>
      </figure>

      <p>Healing from narcissistic abuse may first look impossible and you may think that you’ll be with those feeling of numbness and feeling stuck forever. Today I’d like to share with you an interview with John, one of my clients who signed up
        after reading my articl ...
        <a href="/posts/healing-after-narcissistic-abuse-story-2-john"><button type="button" class="btn btn-dark btn-md btn-outline-info"> <i class="bi bi-command"></i> Read More</button></a>
      </p>
    </div>

    <div class=" col-lg-6">
      <h4>Healing after Narcissistic Abuse Story#&nbsp;Margaret</h4>
      <p>
      </p>
      <figure class=" blogphotoblock">
        <img src="https://drive.google.com/uc?id=1Hzs3enwtq2lCxwVFDi21UEj4o7Zt9JFD" class=" blogphoto" alt="Edwin-Profile_Pic">
        <figcaption>Created on 15/01/2023</figcaption>
      </figure>

      <p>Healing from narcissistic abuse may first look impossible and you may think that you’ll be with those negative emotions and you’ll experience those negative emotions for life. Today I’d like to share with you an interview with Margaret, one
        of my clients w ...
        <a href="/posts/healing-after-narcissistic-abuse-story-margaret"><button type="button" class="btn btn-dark btn-md btn-outline-info"> <i class="bi bi-command"></i> Read More</button></a>
      </p>
    </div>
  </div>
<p class="testimonial_text_2">
      Your Story Starts with Your Commitment and then just Booking a Call Today!!
  </p>

</section>

<script>
  (function(m, a, i, l, e, r) {
    m['MailerLiteObject'] = e;

    function f() {
      var c = {
        a: arguments,
        q: []
      };
      var r = this.push(c);
      return "number" != typeof r ? r : f.bind(c.q);
    }
    f.q = f.q || [];
    m[e] = m[e] || f.bind(f.q);
    m[e].q = m[e].q || f.q;
    r = a.createElement(i);
    var _ = a.getElementsByTagName(i)[0];
    r.async = 1;
    r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
    _.parentNode.insertBefore(r, _);
  })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '3770054', 'f0q9y8s9n1', 'load');
</script>
<script>
  var ml_webform_5367011 = ml_account('webforms', '5367011', 'm9l5h5', 'load');
  ml_webform_5367011('animation', 'fadeIn');
</script>
<!-- End MailerLite Universal -->
<%- include("partials/footer") -%>
