<%- include("partials/header1") -%>
<div class="thankyoupage-header">
  <header class="d-flex justify-content-left py-3 ">
    <img src="https://drive.google.com/uc?id=1wuVxvbMQDXDYc-lQ162LP89r3-1nHQ-5" class="header-images" alt="">
  </header>
  <i class="bi bi-check-circle check"></i>
  <p class="thankyou-headline"> Thank You for Booking</p>
  <p class="thankyou-headline">Your Appointment!</p>
</div>
<!-- About -->
  <div class="thankyoupage-section">
        <div class="row float-md-start">
      <p> <img src="https://drive.google.com/uc?id=1RqpPVGwd5Pe6cWfjSHduvGEeuEHvcBeH" class="thankyou-image" alt="Edwin-Profile_Pic">
    </div>

<p class= "thankyou-headline-2"> Before we get to meet each other, here's what to expect from the Free Discovery Session:-  </p>
<div class="list-text-thankyoupage">
  <p><i class="bi bi-check2-square checksquare"></i> A clear vision for your healing journey </p>
  <p><i class="bi bi-check2-square checksquare"></i> A well-defined path that will lead you to breaking free from toxic relationship patterns</p>
  <p><i class="bi bi-check2-square checksquare"></i> Uncovering hidden challenges and roadblocks which prevent you from attracting a healthy relationship</p>
  <p><i class="bi bi-check2-square checksquare"></i> Courage and energy to embark on the journey to reclaim the life you deserve.</p>
  </div>

    </div>

<!-- testimonials -->
<section id="roadmap-testimonials">
  <div class="">



  <div class="container-fluid">
    <h1 class="testimonial_header"> Client Testimonials... </h1>
    <div class="youtube-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g-Q-glj5mS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://drive.google.com/uc?id=1p6uqC0P9o9opZpun9shtxm9et47-6tRs" alt="Dennis-profile">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Dennis Singen</h5>
            <p class="card-text">5 years relationship with my ex drained my personality, due to constant negative energy.
              But meeting Coach Edwin made me see the bigger picture of life and the necessity to prioritize my happiness. In less than a month, I felt the super-Dennis in me!.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <img src="https://drive.google.com/uc?id=1zpvwtqGjDnuPay9lE-6B_geYXe6vGUke" alt="Dennis-profile">
        </div>
      </div>

        <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/6218959c5f30c_itprosprofile1-modified.png" alt="Dennis-profile">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Carolyne Maritim</h5>
            <p class="card-text">“After our session, I felt my reality shift and was freed from a problem which had held me back for more than 5 years. The process was super fast and effective, that it even felt unbelievable .”</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://drive.google.com/uc?id=1RuBAlkdYvgJZfy2Udco9BFfIEj1Vtn9D" alt="Lady-Anon">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Anon</h5>
            <p class="card-text">"I have always struggled with attracting narcissistic individuals. After just 4 weeks, the mindshift
              was amazing. I feel way happier, find it easy to follow through on promises I make to myself and maintain boundaries
              without feeling guilty."</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/621894bf0d2b0_Liz_photo-modified.png" alt="Carolyn-Picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Elizabeth Waithaka</h5>
            <p class="card-text">“Wow!! Edwin has helped me change alot of how I see the world. Having gone through childhood trauma, he used an effective practice called MindShifting to shift the emotions I had about what I went through to more
              positive emotions. I have learnt to be more compassionate to myself and others.
              I have seen so much growth in how I interact with family and friends due to Edwin and I am forever grateful.”</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/621de6aedd664_Elisa_-modified.png" alt="Elisa_picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Elisa Thickson</h5>
            <p class="card-text">"Working with Bii has been a wonderful and amazing experience. He brings a lot of smile and laughter to our sessions. I take this laughter with me and always look forward to working with him. He also brings patience,
              understanding and love. He helped me uncover blocks that I was having when achieving my life goals. This has been very eye opening. He has alot of knowledge with toxic relationships and the expectations from it. I highly recommend
              working with Bii so you can experience this for yourself."</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/62189c1b5c661_Moureen_Akinyi-modified.png" alt="Moureen Picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Moureen Akinyi</h5>
            <p class="card-text">“After just four weeks,the mind shift was amazing. I feel way happier, find it so easy to follow through on promises I make to myself and maintain boundaries with other people without feeling guilty.He is very
              professional, gentle and impartial. He is always available for guidance whenever I need help and he keeps checking on my progress whenever I have stayed long without reaching out. Despite the fact that the sessions are virtual, they are
              very engaging and his guidance is very curated for my personal development and self discovery. My life is not the same as it was before. I can't wait to explore more of the world outside and within myself.”</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/62189a43de0c3_Alice_modified.png" alt="Alice Picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Alice Nana</h5>
            <p class="card-text">"Working with Edwin has been an enriching experience for me. Initially, I felt uninspired and unmotivated by a lot of things in my life. Edwin was able to take me through the Mindshifting program which brought about
              shifts in my thinking and essentially the way I felt. Edwin had been kind, calm and firm. All of which were attributes I felt have really helped me get to where I feel open and optimistic about life! It is such a relief to know that I
              can count on your support whenever I feel stuck Edwin. Thank you so much. I would highly recommend"</p>
          </div>
        </div>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-testimonial" src="https://d1yei2z3i6k35z.cloudfront.net/1809861/62189fea8c5af_Carol-modified.png" alt="Dennis-profile">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Carolyne Matutu</h5>
            <p class="card-text">"The coach was always patient with me.Under no circumstances did I ever feel judged for airing out my problems.
              He frequently checked up on me to see how I was progressing in regards to my healing journey. Love and light🌼 .”</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</section>
<%- include("partials/footer1") -%>
